<?xml version="1.0" encoding="utf-8"?>

<packages>
  <package id="AngularJS.Core" version="1.3.15" targetFramework="net45" />
  <package id="AngularJS.Route" version="1.3.15" targetFramework="net45" />
  <package id="AutoMapper" version="3.3.1" targetFramework="net45" />
  <package id="bootstrap" version="3.3.4" targetFramework="net45" />
  <package id="Castle.Core" version="3.3.0" targetFramework="net45" />
  <package id="Castle.Windsor" version="3.3.0" targetFramework="net45" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net45" />
  <package id="jQuery" version="1.10.2" targetFramework="net45" />
  <package id="jQuery.Validation" version="1.11.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.Cors" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.Identity.Core" targetframework="net45" version="2.0.1"></package>
  <package id="Microsoft.AspNet.Identity.EntityFramework" targetframework="net45" version="2.0.1"></package>
  <package id="Microsoft.AspNet.Identity.Owin" targetframework="net45" version="2.0.1"></package>
  <package id="Microsoft.AspNet.Mvc" version="5.2.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.2.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.Web.Optimization" targetframework="net45" version="1.1.1"></package>
  <package id="Microsoft.AspNet.WebApi" version="5.2.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Cors" version="5.2.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Owin" targetframework="net45" version="5.1.2"></package>
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.2" targetFramework="net45" />
  <package id="Microsoft.jQuery.Unobtrusive.Validation" version="3.0.0" targetFramework="net45" />
  <package id="Microsoft.Owin" targetframework="net45" version="2.1.0"></package>
  <package id="Microsoft.Owin.Cors" targetframework="net45" version="2.1.0"></package>
  <package id="Microsoft.Owin.Host.SystemWeb" targetframework="net45" version="2.1.0"></package>
  <package id="Microsoft.Owin.Security" targetframework="net45" version="2.1.0"></package>
  <package id="Microsoft.Owin.Security.Cookies" targetframework="net45" version="2.1.0"></package>
  <package id="Microsoft.Owin.Security.Facebook" version="2.1.0" targetFramework="net45" />
  <package id="Microsoft.Owin.Security.OAuth" targetframework="net45" version="2.1.0"></package>
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Modernizr" targetframework="net45" version="2.6.2"></package>
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net45" />
  <package id="ngTable" version="0.5.4" targetFramework="net45" />
  <package id="Owin" targetframework="net45" version="1.0"></package>
</packages>