body { background-color: #F1FFFA; }

.main-container {
    border: 1px solid #818181;
    border-radius: 14px;
    margin: 60px 0;
    padding: 10px;
}

.main-container div:nth-child(2) { margin: 20px 0px; }