<div ng-controller="HomeCtrl">
    <!-- Navigation -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">Hiperion Application v0.1</a>
        </div>
        <div class="collapse navbar-collapse" id="js-navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#/">Home</a></li>
                <li><a href="#/users">Users</a></li>
                <li><a href="#/about">About</a></li>
            </ul>
        </div>
    </div>
    <!-- /Navigation -->
    <!-- Content -->
    <div class="container-fluid" id="main">
        <div class="row-fluid">
            <!-- pages -->
            <ng-view></ng-view>
        </div>
    </div>
</div>