<!DOCTYPE html>
<html lang="en-US" ng-app="hiperionApp">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hiperion Application V0.1</title>
        <link rel="shortcut icon" href="~/Content/Images/favicon.ico" type="image/x-icon" />
        <!-- Styles Includes -->
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/ng-table.min.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/ngDialog.min.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/ngDialog-theme-default.min.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/ngDialog-theme-plain.min.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/ngDialog-custom-width.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/table.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/dialog.css" rel="stylesheet" type="text/css" />
        <!-- /Styles Includes -->    
    </head>

    <body ng-controller="HomeCtrl">
        <!-- Navigation -->
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/">Hiperion Application v0.1</a>
            </div>
            <div class="collapse navbar-collapse" id="js-navbar-collapse">
                <ul class="nav navbar-nav">
                    @*<li class="active"><a href="#/">Home</a></li>*@
                    <li><a href="#/users">Users</a></li>
                    <li><a href="#/roles">Roles</a></li>
                    <li><a href="#/countries">Countries</a></li>
                    <li><a href="#/about">About</a></li>
                </ul>
            </div>
        </div>
        <!-- /Navigation -->

        <!-- Content -->
        <div class="container-fluid" id="main">
            <div class="row-fluid">
                <!-- pages -->
                <ng-view></ng-view>
            </div>
        </div>
        <!-- /Content -->

        <!-- JavaScript Includes -->
        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        <script src="~/Scripts/angular.js"></script>
        <script src="~/Scripts/angular-local-storage.min.js"></script>
        <!-- Spin -->
        <script type="text/javascript" src="http://fgnass.github.io/spin.js/spin.min.js"></script>
        <script type="text/javascript" src="~/Scripts/angular-spinner.min.js"></script>
        <script type="text/javascript" src="~/Scripts/angular-loading-spinner.js"></script>
        <!-- /Spin -->
        <script src="~/Scripts/angular-route.js"></script>
        <script src="~/Scripts/angular-mocks.js"></script>
        <script src="~/Scripts/ng-table.js"></script>
        <script src="~/Scripts/ng-table-export.js"></script>  
        <script src="~/Scripts/ngDialog.js"></script>
        <script src="~/Scripts/angularjs-dropdown-multiselect.js"></script>        
        <script src="~/App/scripts/app.js"></script>
        <script src="~/App/scripts/services/authinterceptor.js"></script>
        <script src="~/App/scripts/services/user.js"></script>
        <script src="~/App/scripts/services/role.js"></script>
        <script src="~/App/scripts/services/auth.js"></script>
        <script src="~/App/scripts/services/country.js"></script>
        <script src="~/App/scripts/controllers/login.js"></script>
        <script src="~/App/scripts/controllers/signup.js"></script>
        <script src="~/App/scripts/controllers/home.js"></script>
        <script src="~/App/scripts/controllers/user.js"></script>
        <script src="~/App/scripts/controllers/about.js"></script>
        <script src="~/App/scripts/controllers/role.js"></script>
        <script src="~/App/scripts/controllers/country.js"></script>
        <script src="~/App/scripts/directives/timeHeader.js"></script>
    </body>
</html>