@{
    ViewBag.Title = "Index";
}

<link href="~/Content/table.css" rel="stylesheet" type="text/css" />
<link href="~/Content/dialog.css" rel="stylesheet" type="text/css" />

<h2>Index</h2>

<div>
    <!-- Home-->
    <div ng-show="activeSection =='home'">
        <div class="main-container">
            <a class="btn btn-primary" href="" ng-click="showStatistics()">statistics</a>
            <a class="btn btn-primary" href="" ng-click="showComments()">Comments</a>
            <div ng-show="isCommentsVisible">
                <h2>Comments</h2>
                <div><a class="btn btn-sm btn-success" href="" ng-click="addComment();">Add Comment</a></div>
                <div class="comments">
                    <div ng-repeat="cm in comments">
                        <span>{{cm.name}}</span>
                        <p>{{cm.comment}}</p>
                    </div>
                </div>
            </div>
            <!-- Statistics-->
            <script type="text/ng-template" id="stadisticsTemplate">
                <div class="ngdialog-message">
                    <h3>References</h3>
                    <p>
                        <img src="/Content/Images/statistics01.jpg" width="420" alt="Statistics" />
                    </p>
                </div>
            </script>
            <!-- /Statistics-->
            <!-- New Comment-->
            <script type="text/ng-template" id="commentTemplate">
                <div class="ngdialog-message">
                    <div class="dialog-new-container">
                        <div><label>Name:</label><input type="text" ng-model="name" /></div>
                        <div><label>Comment:</label><textarea ng-model="comment"></textarea></div>
                        <div class="ngdialog-buttons">
                            <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="confirm({name: name, comment:comment});">Save</button>
                            <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog('button')">Cancel</button>
                        </div>
                    </div>
                </div>
            </script>
            <!-- /New Comment-->
        </div>
    </div>
    <!-- /Home-->
    <!-- Users-->
    <div ng-controller="UserCtrl" ng-show="activeSection =='users'">
        <div class="main-container">
            <div class="user-table-data">
                <div>
                    <span>Page:</span> {{tableParams.page()}} / <span>Count per page:</span> {{tableParams.count()}}
                </div>
            </div>
            <div>
                <a class="btn btn-sm btn-primary" ng-mousedown="csv.generate()" ng-href="{{ csv.link() }}" download="test.csv">Export to CSV</a>
                <a class="btn btn-sm btn-success" href="" ng-click="addNewUser();">Add new User</a>
            </div>
            <table ng-table="tableParams" class="table" template-pagination="customPager" show-filter="true" export-csv="csv">
                <tr ng-repeat="user in $data" ng-class="{ 'emphasis': user.age > 50 }">
                    <td data-title="'First Name'" sortable="'name'" filter="{ 'name': 'text' }">{{user.name}}</td>
                    <td data-title="'Last Name'" sortable="'lastName'" filter="{ 'lastName': 'text' }">{{user.lastName}}</td>
                    <td data-title="'Age'" sortable="'age'">
                        <span ng-class="{ 'plus': user.age < 50,'minus': user.age > 50 }">{{user.age}}</span>
                    </td>
                </tr>
            </table>
            <!-- Table Temaplate -->
            <script type="text/ng-template" id="customPager">
                <ul class="pager ng-cloak">
                    <li ng-repeat="page in pages"
                        ng-class="{'disabled': !page.active, 'previous': page.type == 'prev', 'next': page.type == 'next'}"
                        ng-show="page.type == 'prev' || page.type == 'next'" ng-switch="page.type">
                        <a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo; Previous</a>
                        <a ng-switch-when="next" ng-click="params.page(page.number)" href="">Next &raquo;</a>
                    </li>
                    <li>
                        <div class="btn-group">
                            <button type="button" ng-class="{'active':params.count() == 5}" ng-click="params.count(5)" class="btn btn-default">5</button>
                            <button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="btn btn-default">10</button>
                            <button type="button" ng-class="{'active':params.count() == 15}" ng-click="params.count(15)" class="btn btn-default">15</button>
                            <button type="button" ng-class="{'active':params.count() == 100}" ng-click="params.count(100)" class="btn btn-default">100</button>
                        </div>
                    </li>
                </ul>
            </script>
            <!-- /Table Temaplate -->
            <!-- Dialog Temaplate -->
            <script type="text/ng-template" id="newUserDialogTemplate">
                <div class="ngdialog-message">
                    <div class="dialog-new-container">
                        <div><label>First Name:</label><input type="text" ng-model="name" /></div>
                        <div><label>Last Name:</label><input type="text" ng-model="lastName" /></div>
                        <div>
                            <label>Age:</label>@*<input type="text" ng-model="age" />*@
                            <select ng-model="age" ng-options="n for n in [] | userRange:1:101"></select>
                        </div>
                        <div class="ngdialog-buttons">
                            <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="confirm({name: name, lastName:lastName, age: age});">Save</button>
                            <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog('button')">Cancel</button>
                        </div>
                    </div>
                </div>
            </script>
            <!-- /Dialog Temaplate -->

        </div>
    </div>
    <!-- /Users-->
    <!-- About -->
    <div ng-controller="AboutCtrl" ng-show="activeSection =='about'">
        <div class="main-container">
            {{description}}
        </div>
    </div>
    <!-- /About -->
</div>