<div class="ngdialog-message">
    <div class="dialog-new-container">
        <input type="hidden" ng-model="id">
        <div><label>First Name:</label><input type="text" ng-model="name" /></div>
        <div><label>Last Name:</label><input type="text" ng-model="lastName" /></div>
        <div>
            <label>Age:</label>
            <select ng-model="age" ng-options="n for n in [] | userRange:1:101"></select>
        </div>
        <div>
            <label>Role:</label>
            <select ng-model="role" ng-options="role as role.name for role in roles "></select>
        </div>
        <div class="ngdialog-buttons">
            <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="confirm({id:id, name: name, lastName:lastName, age: age});">Save</button>
            <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog('button')">Cancel</button>
        </div>
    </div>
</div>