<div ng-controller="UserCtrl">
    <div class="main-container">
        <div time-header></div>
        <div class="user-table-data">
            <div>
                <span>Page:</span> {{tableParams.page()}} / <span>Count per page:</span> {{tableParams.count()}}
            </div>
        </div>
        <div>
            <a class="btn btn-sm btn-primary" ng-mousedown="csv.generate()" ng-href="{{ csv.link() }}" download="test.csv">Export to CSV</a>
            <a class="btn btn-sm btn-success" href="" ng-click="addNewUser();">Add new User</a>
        </div>
        <span us-spinner="{radius:20, width:4, length: 10}"></span>
        <table ng-table="tableParams" class="table" template-pagination="customPager" show-filter="true" export-csv="csv">
            <tr ng-repeat="user in $data" ng-class="{ 'emphasis': user.age > 50 }">
                <td data-title="'First Name'" sortable="'name'" filter="{ 'name': 'text' }">
                    {{user.name}}
                </td>
                <td data-title="'Last Name'" sortable="'lastName'" filter="{ 'lastName': 'text' }">
                    {{user.lastName}}
                </td>
                <td data-title="'Age'" sortable="'age'">
                    <span ng-class="{ 'plus': user.age < 50,'minus': user.age >= 50 }">{{user.age}}</span>
                </td>
                <td data-title="'Actions'">
                    <a href="" class="btn btn-danger btn-xs action-button" ng-click="removeUser(user)">Remove</a>
                    <a href="" class="btn btn-default btn-xs action-button" ng-click="editUser(user);">Edit</a>                    
                </td>
            </tr>
        </table>
        <!-- Table Temaplate -->
        <script type="text/ng-template" id="customPager">
            <ul class="pager ng-cloak">
                <li ng-repeat="page in pages"
                    ng-class="{'disabled': !page.active, 'previous': page.type == 'prev', 'next': page.type == 'next'}"
                    ng-show="page.type == 'prev' || page.type == 'next'" ng-switch="page.type">
                    <a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo; Previous</a>
                    <a ng-switch-when="next" ng-click="params.page(page.number)" href="">Next &raquo;</a>
                </li>
                <li>
                    <div class="btn-group">
                        <button type="button" ng-class="{'active':params.count() == 5}" ng-click="params.count(5)" class="btn btn-default">5</button>
                        <button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="btn btn-default">10</button>
                        <button type="button" ng-class="{'active':params.count() == 15}" ng-click="params.count(15)" class="btn btn-default">15</button>
                        <button type="button" ng-class="{'active':params.count() == 100}" ng-click="params.count(100)" class="btn btn-default">100</button>
                    </div>
                </li>
            </ul>
        </script>
        <!-- /Table Temaplate -->
    </div>
</div>