<div ng-controller="UserCtrl">
    <div class="main-container">
        <div class="user-table-data">
            <div>
                <span>Page:</span> {{tableParams.page()}} / <span>Count per page:</span> {{tableParams.count()}}
            </div>
        </div>
        <div>
            <a class="btn btn-sm btn-primary" ng-mousedown="csv.generate()" ng-href="{{ csv.link() }}" download="test.csv">Export to CSV</a>
            <a class="btn btn-sm btn-success" href="" ng-click="addNewUser();">Add new User</a>
        </div>
        <table ng-table="tableParams" class="table" template-pagination="customPager" show-filter="true" export-csv="csv">
            <tr ng-repeat="user in $data" ng-class="{ 'emphasis': user.age > 50 }">
                <td data-title="'First Name'" sortable="'name'" filter="{ 'name': 'text' }">
                    <span ng-if="!user.$edit">{{user.name}}</span>
                    <div ng-if="user.$edit"><input class="form-control" type="text" ng-model="user.name" /></div>
                </td>
                <td data-title="'Last Name'" sortable="'lastName'" filter="{ 'lastName': 'text' }">
                    <span ng-if="!user.$edit">{{user.lastName}}</span>
                    <div ng-if="user.$edit"><input class="form-control" type="text" ng-model="user.lastName" /></div>
                </td>
                <td data-title="'Age'" sortable="'age'">
                    <span ng-class="{ 'plus': user.age < 50,'minus': user.age > 50 }">{{user.age}}</span>
                </td>
                <td data-title="'Actions'">
                    <a ng-if="!user.$edit" href="" class="btn btn-default btn-xs" ng-click="user.$edit = true">Edit</a>
                    <a ng-if="!user.$edit" href="" class="btn btn-danger btn-xs">Remove</a>
                    <a ng-if="user.$edit" href="" class="btn btn-primary btn-xs" ng-click="user.$edit = false">Save</a>
                    <a ng-if="user.$edit" href="" class="btn btn-default btn-xs" ng-click="user.$edit = false">Cancel</a>
                </td>
            </tr>
        </table>
        <!-- Table Temaplate -->
        <script type="text/ng-template" id="customPager">
            <ul class="pager ng-cloak">
                <li ng-repeat="page in pages"
                    ng-class="{'disabled': !page.active, 'previous': page.type == 'prev', 'next': page.type == 'next'}"
                    ng-show="page.type == 'prev' || page.type == 'next'" ng-switch="page.type">
                    <a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo; Previous</a>
                    <a ng-switch-when="next" ng-click="params.page(page.number)" href="">Next &raquo;</a>
                </li>
                <li>
                    <div class="btn-group">
                        <button type="button" ng-class="{'active':params.count() == 5}" ng-click="params.count(5)" class="btn btn-default">5</button>
                        <button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="btn btn-default">10</button>
                        <button type="button" ng-class="{'active':params.count() == 15}" ng-click="params.count(15)" class="btn btn-default">15</button>
                        <button type="button" ng-class="{'active':params.count() == 100}" ng-click="params.count(100)" class="btn btn-default">100</button>
                    </div>
                </li>
            </ul>
        </script>
        <!-- /Table Temaplate -->
    </div>
</div>